
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-image: url(images/background.png);
  background-color: #010638;
}

header {
  background-color: #c9c7c7;
}

.navbar-link {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  margin: 1.7rem;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trades-form {
  border: solid 3px;
  padding: 1rem;
  max-width: 90%;
  background-color: #c9c7c7;
  margin: 5rem;
}

.wrapper {
  width: 100%;
  perspective: 50rem;
}

.landing-page {
  flex-direction: column;
  background: url(images/trading-platform.jpg) center no-repeat;
  background-size: cover;
  opacity: .6;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: 0.5rem 0.5rem 1rem #aaa;
}

.section-heading {
  font-family: 'Special Elite', cursive;
  font-size: 8rem;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 5rem;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;
}

.heading {
  margin-bottom: 4rem;
  text-transform: uppercase;
  text-shadow: 1rem 1rem 1rem #000, 2rem 2rem 2rem #111, 3rem 3rem 3rem #222;
}

.common-pages, .container {
  flex-direction: column;
}

.chart-image {
  height: 50vh;
  width: 50vw;
  border-radius: 50%;
  align-items: center;
}

.common-subheading {
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 4rem;
  color: rgb(255, 32, 32);
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem 0.3rem #555;
}

fieldset {
  margin: 4rem;
  padding: 2rem;
  border-radius: 10px;
}

legend {
  text-transform: uppercase;
  font-size: 3rem;
  color: rgb(255, 32, 32);
  font-weight: bold;
}

.data {
  font-size: 1.8rem;
}

.submit-trade-button {
  background-color: green;
  color: #fff;
  text-align: center;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 3rem;
  border-radius: 10px;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 5px solid #000;
  font-size: 1.7rem;
  margin: 5rem 0;
  background-color: #c9c7c7;
  overflow: auto;
  width: 90%;
  max-width: 1200px;
  height: 75vh;
  display: block;
}

tbody {
  white-space: no-wrap;
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 4px 6px;
}

th {
  position: sticky;
  top: 0;
  background-color: rgb(164, 224, 252);
}

thead > tr {
  background-color: rgb(164, 224, 252);
}

thead > tr:nth-of-type(2) {
  border-bottom: 2px solid rgb(140 140 140);
}

tbody > tr:nth-of-type(odd) {
  background-color: rgb(237 238 242);
}



footer {
  background-color: #c9c7c7;
}

footer p {
  padding: 2rem;
  font-size: 1.7rem;
}
